default:
  image: quay.io/ascend/cann:8.5.0.alpha002-910b-ubuntu22.04-py3.11
  tags: [cpu]


stages:
   - linter
   - build
   - test


# Define the workflow rules manually to make sure only a single pipeline
# is created for each MR update. Without that, GitLab creates one pipeline
# for branch update and one for MR update.
workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "main"'
    - when: never



.secret_detection:
  stage: linter
  dependencies: []
  before_script: []
  image:
    name: zricethezav/gitleaks:v8.18.2
    entrypoint: [""]
  script:
    - gitleaks detect -v --source .


.build_config: &build_config
  tags:
    - baremetal
  before_script:
    - source /usr/local/Ascend/ascend-toolkit/set_env.sh
    - pip3 install pyyaml setuptools pytest
    - pip3 install https://gitcode.com/Ascend/pytorch/releases/download/v7.3.0-pytorch2.8.0/torch_npu-2.8.0.post2-cp310-cp310-manylinux_2_28_x86_64.whl --index-url https://download.pytorch.org/whl/cpu # https://github.com/sgl-project/sgl-kernel-npu/pull/326

build_kernels_only:
  <<: *build_config
  stage: build
  script:
    - bash build.sh -a kernels

build_memory_saver:
  <<: *build_config
  stage: build
  script:
    - bash build.sh -a memory-saver
  when: manual
  allow_failure: true

build_deepep_kernels:
  <<: *build_config
  stage: build
  script:
    - bash build.sh -a deepep-kernels
  when: manual
  allow_failure: true


test_hello_world:
  <<: *build_config
  stage: test
  script:
    - bash build.sh -a kernels
    - pip3 install --force-reinstall output/sgl_kernel_npu-*-linux_x86_64.whl
    - python3 tests/python/sgl_kernel_npu/test_hello_world.py
  stage: test

test_gated_attention:
  <<: *build_config
  stage: test
  script:
    - bash build.sh -a kernels
    - pip3 install --force-reinstall output/sgl_kernel_npu-*-linux_x86_64.whl
    - pip3 install -i https://test.pypi.org/simple/ "triton-ascend<3.2.0rc" --pre --no-cache-dir
    - pip3 install einops
    - python -m pytest tests/python/sgl_kernel_npu/test_gated_delta.py
  stage: test
